@font-face {
	font-family: 'Antapani';
	src: url('../fonts/Antapani-ExtraBold.otf');
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas-Regular.otf');
}

@font-face {
	font-family: 'Digital-7';
	src: url('../fonts/digital-7 (mono).ttf');
}

/* You can add an unlimited amount of fonts by copy/pasting @font-face! */

/* General settings. */

body {
	font-family: 'Bebas';
	/*-webkit-text-stroke: 2px black;*/
	color: #f9f9f9;

	background: #234833;
	width: 1920px;
	height: 1080px;
	position: absolute;

	overflow: hidden;
}

/* Game name panel. */
#game-name {
	font-size: 62pt;

	font-stretch: semi-condensed;
	text-align: center;
	position: absolute;

	background: -webkit-linear-gradient(#23c667, #1DAF5A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #173122;
	
	border: 2px solid transparent;
}

/* Runner name and pronouns panel. */
.runner-container {
	position: absolute;
	display: flex;
	background: black;
	
	border: 2px solid transparent;
}

.runner-name {
	font-size: 30pt;
	font-stretch: semi-condensed;
	float: left;
	vertical-align: middle;
	width: 100%;

	background: -webkit-linear-gradient(#ffffff, #d9d9d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #222;

	border: 2px solid white;
}

.pronouns {
	font-size: 27pt;
	vertical-align: middle;
	text-align: right;
	float: right;
}

.medals {
	margin-top: 10px;
	margin-right: 7px;
	vertical-align: middle;	
	float: right;

	border: 2px solid white;
}

.medals-img {
	width: 30px;
	height: 30px;

	border: 2px solid white;
}

.finalTime {
	font-size: 30pt;
	font-stretch: semi-condensed;
	vertical-align: middle;

	border: 2px solid white;
}

/* Category and estimate panel. */
#info-container {
	font-family: 'Antapani';
	font-size: 21pt;
	position: absolute;
	display: flex;
	
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #000;

	border: 2px solid transparent;
}

/* Stopwatch image height. */
#estimate-label img {
	height: 21pt;
}

#category {
	float: left;
	vertical-align: middle;
	flex: 1;
}

#info {
	float: left;
	vertical-align: middle;
	flex: 1;
}

#estimate-container {
	float: right;
	vertical-align: middle;
}

#estimate-label {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}

#estimate {
	display: inline-block;
	margin-top: 3px;
}

/* Timer panel. */
#timer {
	font-family: 'Digital-7';
	font-size: 72pt;
	text-align: center;
	position: absolute;
	
	border: 2px solid #05baff;
	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../img/common/timer-background.jpg);
}

.timer_stopped {
	background: -webkit-linear-gradient(#05baff, #6afffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #05baff;
    -webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #003c53;
}

.timer_running {
	background: -webkit-linear-gradient(#05baff, #6afffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #05baff;
    -webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #003c53;
}

.timer_paused {
	background: -webkit-linear-gradient(#05baff, #6afffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #05baff;
    -webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #003c53;
}

.timer_finished {
	background: -webkit-linear-gradient(#05baff, #6afffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #05baff;
    -webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #003c53;
}

/* Sponsor panel. */
#sponsor-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	
	border: 2px solid transparent;
}

.background-glow {
	width: 19px;
	height: 100px;
	position: absolute;
	background-color: #1DAF5A;
	z-index: -1;
    }

.layout-image {
	position:  absolute; 
	top: 0px; 
	left: 0px;
}
