#omnibar {
	background-color: #2F6493;
	display: flex;
	width: 1920px;
	height: 55px;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #000;
	border-style: solid;
	border-width: 3px 0px 0px 0px;
	border-color: #DDDDDD;
}

#omnibar > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#omnibar-content {
	flex: 1;
}

#omnibar-content * {
	display: initial;
}

.is-single-line {
	font-size: 28pt;
}

.is-multiline {
	font-size: 18pt;
	margin: 0;
}

.is-text-centered {
	margin: 0 auto;
}

#charity-logo {
	/*background-color: #000000;*/
	padding: 0 0.5rem;
}

#donation-total {
	background-color: #2F6493;
	padding: 0 0.75rem;
	font-size: 36pt;
	border-style: solid;
	border-width: 0px 3px 0px 0px;
	border-color: #DDDDDD;
}

#donation-container-ff{
	background-color: #2F6493;
	padding: 0 0.75rem;
	font-size: 36pt;
	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #000;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	border-color: #DDDDDD;
}

#marathon-logo {
	background-color: #2F6493;
	padding: 0 1rem;
}

#charity-logo img {
	height: 48px;
}

#marathon-logo img {
	height: 48px;
}
